.nav-link {
    color: black;
    font-weight: 500;
}

.nav-link:hover {
    color: yellow;
    font-weight: bold;
    background-color: red;
    border-radius: 10px;
}

.transparent-box {
    width: 100%;
    height: 470px;
    background-color: lightgray;
    border: 1px solid rgb(214, 189, 189);
    opacity: 0.6;    
}

.transparent-box p {
    font-weight: bold;
    font-size: 60px;
    font-family: 'Monotype Corsiva';
    color: darkred;
    text-align: center;
}

.halfcircle{
    height: 75px;
    width: 150px;
    border-radius: 90px 90px 0px 0px;
    margin: 0px;
    background-color: rgb(79, 104, 216);
}

.halfcirclebottom{
    height: 75px;
    width: 150px;
    border-radius: 0px 0px 90px 90px;
    margin: 0px;
    background-color: rgb(113, 240, 63);
}

.box1 p{
   font-weight: bold;
   font-family: 'Monotype Corsiva';
   color: white;
   text-align: center;
}

