{% extends 'user_navigation.html' %}
{% load static %}
{% block body %}

{% ifequal error "no" %}
<script>
    alert('Password Changed Successfully');
    window.location = ('{% url 'admin_logout' %}');
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Invalid Login Credentials, try again');
</script>
{% endifequal %}




<div class="container mt-5">
<div class="col-sm-6">
    <h2 class="text-center">Change Password</h2>
    <hr>
    <form action="#" method="POST">
        {% csrf_token %}
        <label for="em">Current Password</label>
        <input type="password" name="current" class="form-control" placeholder="Enter Current Password">
        <label for="pwd">New Password</label>
        <input type="password" name="new" class="form-control" placeholder="Enter New Password">
        <label for="pwd"> Confirm New Password</label>
        <input type="password" name="confirm" class="form-control" placeholder="Enter New Password">

        <input type="submit" class="btn btn-danger mt-3" value="Submit">
    </form>
</div>






{% endblock %}